.score.unfinished {
    color: red !important;
    font-size: 12px !important;

}

.score.unfinished::before {
    content: "(";
}

.score.unfinished::after {
    content: ")";
}

.invalid-feedback {
    font-size: 0.7em !important;
}

.modal-score.is-invalid {
    border: 1px solid #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.text-bg-gold {
    color: #000 !important;
    background-color: gold !important;
}
