

.score.unfinished {
    color: red !important;
    font-size: 12px !important;

}

.score.unfinished::before {
    content: "(";
}

.score.unfinished::after {
    content: ")";
}

.invalid-feedback {
    font-size: 0.7em !important;
}